<h2>ログイン</h2>
<h4 class="supplement">ご利用にはログインが必要です。</h4>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email, "メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password, "パスワード" %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <div class="button">
    <%= f.submit "ログイン" %>
  </div>
<% end %>

<div class="link">
  <%= link_to "はじめての方はこちら", new_user_registration_path %>
</div>
