<h2><%= @album.album_name %></h2>
<div><%= @age %>歳<%= @month.floor %>ヶ月</div>
<div class="add-photo">
  <% if @album_author == current_user %>
    <%= link_to new_album_photo_path do %>
      <i class="fas fa-plus"> 写真追加</i>
    <% end %>
  <% end %>
</div>
<div class="photos">
  <% @photos.each do |photo| %>
    <div>
      <%= link_to album_photo_path(@album.id,photo) do %>
        <%= attachment_image_tag photo, :image, :fill, 150, 150, format: 'jpeg' %>
      <% end %>
    </div>
  <% end %>
</div>