<h2>写真追加</h2>
<%= form_with model: @photo, url: album_photos_path, local: true do |f| %>
  <div>
    <%= f.label :image, '写真' %>
    <%= f.attachment_field :image %>
  </div>
  <div>
    <%= f.label :comment, 'コメント' %>
    <%= f.text_area :comment %>
  </div>
  <%= f.submit 'アルバムに追加する' %>
<% end %>