<h2><%= @photo.created_at.strftime('%Y/%m/%d') %></h2>
<div>
  <div class="back-page">
    <%= link_to "写真一覧に戻る", album_photos_path %>
  </div>
  <div class="delete-photo">
    <% if @photo.album.user == current_user %>
      <%= link_to "削除", album_photo_path(@album, @photo), method: :delete %>
    <% end %>
  </div>
  <div class="detail">
    <%= attachment_image_tag @photo, :image, format: 'jpeg' %>
  </div>
  <table class="comment">
    <tr>
      <td><%= @photo.album.user.name %></td>
      <td><%= @photo.comment %></td>
    </tr>
  </table>
</div>

<div>
  <table class="comment">
    <% @photo.comments.each do |comment| %>
      <tr>
        <td><%= comment.user.name %></td>
        <td><%= comment.comment %></td>
        <td>
          <% if comment.user == current_user %>
            <%= link_to "削除",album_photo_comment_path(@album, comment.photo, comment), method: :delete %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<div>
  <%= form_with model: @comment, url: album_photo_comments_path(@album, @photo), local: true do |f| %>
    <%= f.text_area :comment, placeholder: "コメントをここに書いてください" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>