<!DOCTYPE html>
<html>
  <head>
    <title>Deary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1><%= link_to root_path do %>Deary<% end %></h1>
      <% if user_signed_in? %>
        <% if request.path == albums_path || request.path == new_album_path %>
          <li>
            <%= link_to "アルバム一覧", albums_path %>
          </li>
          <li>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          </li>
        <% else %>
          <li>
            <%= link_to "アルバム一覧", albums_path %>
          </li>
          <li>
            <%= link_to "写真一覧", album_photos_path %>
          </li>
          <li>
            <%= link_to "家族一覧", album_album_users_path %>
          </li>
          <li>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          </li>
        <% end %>
      <% else %>
        <li>
          <%= link_to "ホーム", root_path %>
        </li>
        <li>
          <%= link_to "新規登録", new_user_registration_path %>
        </li>
        <li>
          <%= link_to "ログイン", new_user_session_path %>
        </li>
      <% end %>
    </header>

    <%= yield %>
  </body>
</html>
